<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
         <link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="./css/styles.css"> 
<script src="js/app.js"></script>
    </head>
    <body>
        <div class="main-content">
 {{>header}}
 <main>
  <img class="image-content" src="/img/mont3.png" alt="" width="184" height="212">
  <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
    <blockquote>
      <p class="text-lg font-semibold">
        “This weather app uses data from mapbox.com and darksky.net through RESTful API's!”
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="text-cyan-600">
       Lamont Thompson
      </div>
      <div class="text-gray-500">
        Software Developer
      </div>
    </figcaption>
  </div>
</main>
 
        </div>
      
     
        {{>footer}}
     
    </body>
</html>